
ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
  }

  ul > li > label{
      margin-left: 10px;
  }


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(images/back.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 80px;

}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f87d6c;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #047cab;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #047cab;
}

.home-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid #047cab;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.home-btn:hover{
    border: 1px solid #f87d6c;
    color: #fff;
    background: #f87d6c;
    transition: 1s;
}

nav .fa{
    display: none;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f87d6c;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}


.landslide{
width: 80%;
margin: auto;
text-align: center;
padding: 50px;
font-size: 20px;
}


.sub-header4{
height: 50vh;
width: 100%;
background-image: linear-gradient(rgba(2,4.5,15,0.35), rgba(2,4.5,15,0.35)),url(images/History_back.png);
background-position: center;
background-size: cover;
text-align: center;
color: #fff;
}

.sub-header4 h1{
margin-top: 100px;
}